<ion-view title="Get Started">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h2>Primary Complaint</h2>
        </form>
        <form class="list">
            <ion-item class="item-thumbnail-left" href="#/page5">
                <img src="img/h3vW3ZJoSUuSRyGzT2h5_16201299559_6679e51d1d_n.jpg">
                <h2>Lower Back/Sciatica</h2>
                <p>Lower back and/or leg symptoms</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page6">
                <img src="img/jZ8oixviTtirf5aX2P1i_16426945955_d4e9664e34_m.jpg">
                <h2>Neck</h2>
                <p>Neck and/or arm symptoms</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page7">
                <img src="img/eohhhw9fS8KUzo5jGqVV_13723703004_448988cb72_n.jpg">
                <h2>Knee</h2>
                <p>Localized knee pain</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page8">
                <img src="img/9kQikc8RQ1imsX1vrXgM_6645546761_7dbc20cf5b_m.jpg">
                <h2>Shoulder</h2>
                <p>Localized shoulder pain</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>