<ion-view title="Low Back/Sciatica Module" hide-nav-bar="true">
	<div class="bar bar-header bar-positive">
		<h1 class="title">Low Back and Sciatica Module</h1>
	</div>
	
    <ion-content id="lumbar"  padding="true" class="has-header"> 

		<!-- Progress Div -->

	    <div  class="progress bar bar-subheader bar-light {{ (activeQuestion > -1) ? 'active' : 'inactive' }}">
    
      		<i  class="progressCheck icon ion-checkmark-circled {{ $index === activeQuestion ? 'on' : 'off' }}" 
      	 		ng-repeat="question in questions"></i>
    	</div>
	    
	    <!-- Intro Div -->

	    <div class="list card intro  {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">

		 <div class="item item-avatar">
		    <img src="../img/sciatica.jpg">
		    <h2>Condition History</h2>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="../img/splashpagebackground.jpg">
		    <p>
		      We will now take you through a self-guided assessment process to help us determine how best to treat your condition.  We will begin by asking you a few questions about your condition. 
		    </p>
		    <button class="button button-positive" ng-click="selectContinue()">Begin</button>
		  </div>

		</div>
		<!-- Question Div -->
		<div class="list card question 
					{{ $index === activeQuestion ? 'active' : 'inactive'}}"
			 ng-repeat="question in questions">

		 <div class="item item-avatar">
		    <img src="{{question.image}}">
		    <h2>{{question.title}}</h2>
		  </div>

		  <div class="item item-body">
		    
		    <p>{{question.question}}</p>

			<ion-list>
			  <ion-radio class="ans"
			  		ng-repeat="Answer in questions[$index].answer" 
			  		ng-model="selections.choice[$parent.$index]" 
			  		ng-value="Answer.text">{{Answer.text}}
			  </ion-radio>
			  
				<button class="button button-positive cont"
		    		ng-disabled="!selections.choice[$index]"
		    		ng-click="selectContinue()">Continue</button>

			</ion-list>
			
		    
		  </div>
			
		</div>




    </ion-content>
    <ion-footer-bar class="bar bar-positive">
        <div class="title">&#169;2015 You Care Mobile, {{activeQuestion}}, {{selections.choice}}</div>
    </ion-footer-bar>
</ion-view>