<ion-view title="Low Back/Sciatica Module" hide-nav-bar="true">
	<div class="bar bar-header bar-positive">
		<h1 class="title">Low Back and Sciatica Module</h1>
	</div>
    <ion-content id="lumbar"  padding="true" class="has-header">

	    
	    <div class="progress"></div>
	    <div class="list card">

		 <div class="item item-avatar">
		    <img src="../img/sciatica.jpg">
		    <h2>Condition History</h2>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="../img/splashpagebackground.jpg">
		    <p>
		      We will now take you through a self-guided assessment process to help us determine how best to treat your condition.  We will begin by asking you a few questions about your condition.
		    </p>
		    <button class="button button-positive">Begin</button>
		  </div>

		</div>
	    <div class="question"></div>
	    <div class="results"></div>














    </ion-content>















    <ion-footer-bar class="bar bar-positive">
        <div class="title">&#169;2015 You Care Mobile</div>
    </ion-footer-bar>
</ion-view>