
<ion-view view-title="Get Started">
  
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-minus-circled"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-android-menu"
            ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button>
  </ion-nav-buttons>
<div  class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>

  </div>
<ion-content class="has-subheader">
<ion-refresher on-refresh="doRefresh()"></ion-refresher>
  
  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
    <ion-item ng-repeat='item in modules | filter: query'
     class="item-thumbnail-left item-text-wrap item-icon-right"
     ng-class="{'star': item.star}" href="#/tab/moduleDescription/{{item.Module_Name}}">
      <img ng-src="img/{{item.Module_Name}}.jpg" alt="{{item.Module_Name}} Photo">
      <h2>{{item.Module_Name}}</h2>
      <p>{{item.Module_Description | limitTo: 125}}{{item.Module_Description.length > 125 ? '&hellip;' : ''}}</p>
      <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)"
  ng-show="item.star"></button>
      <ion-option-button class="button-dark" ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
      </ion-delete-button>
      <ion-reorder-button class="ion-navicon"
        on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>   